.circle__wrapper {
  width: 100%;
  height: 100svh;
  position: relative;
}

.circle__wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.circle__text__wrapper__left {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 30%;
  transform: translateX(-100%);

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 425px) {
    font-size: 1rem;
  }
}

.circle__text__wrapper__right {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 70%;
  text-align: right;

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 425px) {
    font-size: 1rem;
  }
}

.circle__text__left__item,
.circle__text__right__item {
  position: absolute;
  font-family: 'bc-ludva', sans-serif;
  font-weight: 400;
  font-size: clamp(1.5rem, 5vw, 6rem);
  text-transform: uppercase;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 25rem;

  @media screen and (max-width: 768px) {
    width: 15rem;
  }

  @media screen and (max-width: 425px) {
    width: 10rem;
  }
}
