.tube__wrapper {
  width: 100%;
  height: 100svh;
  position: relative;
  perspective: 1000px;
  overflow: hidden;
}

.tube__wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tube__wrapper ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tube__text__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: clamp(1.25rem, 6vw, 3.5rem);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.tube__text__item {
  position: absolute;
  top: 50%;
  width: 100%;
}
